.padlogo{
    padding: 10px;
    background-color: white;
    margin-right: 10px;
}

.homeslide{
    height: 600px;
}

.home-judul{
    font-size: 60px;
    font-weight:800; 
}

.home-subjudul{
    font-size: 40px;
    margin-top: 40px;
}

.home-uraian{
    font-size: 25px;
    margin-top: 40px;
}
  
  /* #slide-holder {
    width: 300%;
    position: relative;
 } */

  
/* .carousel-item{
    height: 1000px;
    position: relative;
}     */

.center-cropped{
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}



